// Colors
$colorOne: #55726A;
$colorTwo: #F4E487;
$colorThree: #0E0E0E;
$white: #fff;
// Font-Family
$font-family-oneNormal: 'Montserrat', sans-serif;
$font-family-oneLight: 'Montserrat Light', sans-serif;
$font-family-oneBold: 'Montserrat Bold', sans-serif;
$font-family-twoNormal: 'Roboto', sans-serif;
$font-family-twoLight: 'Roboto Light', sans-serif;
$font-family-twoBold: 'Roboto Bold', sans-serif;
